.sidebar--narrow {
  width: 25%;
  
  .calender__list--sidebar {
    justify-content: space-around;
    
    li {
      margin-right: 0;
    }
  }
}

.calc__link {
  max-width: 100%;
}

.calc__link--sidebar img {
  width: 30%;
}

.page--narrow {
  position: relative;
  width: 55%;
  padding-left: 15px;
  padding-right: 15px;
  
  img {
    width: 100%;
    height: auto;
  }
}

.leftside {
  width: 20%;
}

.leftside__list {
  .reset();
  list-style: none;
  margin-bottom: 25px;
}

.leftside__item {
  a {
    display: block;
    padding: 5px 15px;
    .transition();
    
    &:hover,
    &:active {
      background-color: @mint;
      color: #fff;
      .transition();
    }
  }
}

.wrapper-internal {
  padding-top: 15px;
}

.menu__btn {
  display: none;
}

.menu {
  background-color: @mint;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
}

.menu__list {
  .reset();
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__item {
  position: relative;
  flex-grow: 1;
  text-align: center;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  .transition();
  
  a {
    display: block;
  }
  
  &:hover,
  &:active {
    background-color: @pink;
    .transition();
    
    .menu__sublist {
      display: block;
    }
  }
}

.menu__link {
  padding: 15px 5px;
  font-size: 24px;
  line-height: 1;
  color: #fff;
}

.menu__sublist {
  display: none;
  .reset();
  list-style: none;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  min-width: 100%;
  text-align: left;
  background-color: #fff;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
}

.menu__subitem {
  a {
    padding: 5px 15px;
    .transition();
    
    &:hover,
    &:active {
      color: #fff;
      background-color: @mint;
      .transition();
    }
  }
}

.header__reg {
  margin-left: auto;
  margin-right: 15px;
}

.header__link {
  color: @pink;
  .transition();
  
  &:first-child {
    margin-right: 8px;
    
    &::after {
      content: "/";
      margin-left: 10px;
    }
  }
  
  &:hover,
  &:active {
    color: @mint;
    .transition();
    
    &::after {
      color: @pink;
    }
  }
}

@media (max-width: 1170px) {
  .calc__link--sidebar p {
    font-size: 16px;
  }
}

@media (max-width: 1022px) {
  .page--narrow {
    width: 100%;
    order: 3;
  }
  .leftside {
    order: 2;
    width: 360px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar--narrow {
    order: 1;
    width: 360px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .calc__link--sidebar p {
    font-size: 20px;
  }
  .menu__btn {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/icon-menu-ham.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 19px;
  }
  .menu__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: @mint;
  }
  .menu {
    position: relative;
    padding: 10px 15px;
    
    &--opened .menu__btn {
      background-image: url(../img/icon-menu-cross.svg);
      background-size: 24px 24px;
    }
  }
  .menu__item {
    border-top: 1px solid #fff;
  }
  .menu__sublist {
    display: block;
    position: static;
    box-shadow: none;
    text-align: center;
  }
}

@media (max-width: 665px) {
  .header {
    flex-wrap: wrap;
  }
  .logo {
    order: 1;
  }
  .header__reg {
    margin-right: auto;
    order: 3;
  }
  .social {
    order: 2;
  }
}
